.containerGeral {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("../assets/Tarefas-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.containerGeral::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.group {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.texts h1 {
  margin-bottom: 20px;
  font-size: 27px;
  color: #333;
}

.buttons {
  margin-top: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buttons button {
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #0056b3;
}
